  <div id="header">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-xs-6">
          <h1><%= link_to "Manisiva19", root_url%></h1>
        </div>
        <div id="nav" class="col-xs-6">
          <ul>
            <li><%= link_to "Home", root_url, :class => "target-home"%></li>
            <li><%= link_to "Blog", blog_url, :class => "target-blog"%></li>
            <li><%= link_to "Work", work_url, :class => "target-work"%></li>
            <li><%= link_to "Code", code_url, :class => "target-code"%></li>
            <li><%= link_to "Contact Us", contact_us_url, :class => "target-quotes"%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="separator">
  <div id="content">
    <div class="container">     
